
#container{
    width: 1024px;
    height: 1024px;
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    color: black;
}

button{
    align-items: center;
    margin: 5px;
    margin-left: 300px
}

#container div{
    flex: 1 1 64px;
}